$light-blue:#3498DB ;
$white:#f5f6fa;
$black:#1e272e;
$gray:#485460;
$milky:#eccc68;
$light-yellow:#f6e58d;
$light-gray:#a4b0be;
$light-red:#eb4d4b;
$green:#16A085;
$pink:#B75D5D;
$textSize:2rem;



